<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <link rel="icon" type="image/x-icon" href="../static/logo.jpeg">
  <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Brush+Script&family=Open+Sans:wght@600&family=Poppins:wght@200;400;500;600;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap"
    rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
  <title>Inverter Analytics</title>
  <link rel="stylesheet" href="../static/nav_foot.css">
</head>

<body>
<style>
  
/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(234, 238, 245);
  padding: 10px;
  bottom: 0;
right: 0;

}
@media(max-width:576px){
  .footer{
   
    background-color: rgb(234, 238, 245);
  font-size: 10px;

  }
}


/*  */
.hover-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
  
}

.hover-text {
  display: none;
  font-size: 14px;
  color: #000;
  background-color: rgb(198, 195, 238);
}

.hover-link:hover .hover-text {
  display: inline;
}

</style>
  <!-- navbar for mobileview -->
  <!-- <div class="mobileshow">
    <div class="nav">
      <a href="{{ url_for('dash') }}"><img src="/static/logo.jpeg" class="logo" alt="LOGO" /></a>
      <ul>
       <li> <a href="{{url_for('alldevices')}}">Devices</a></li>
        <li> <a href="#" id="logout-btn">Log Out</a></li>
      </ul>
    </div>
  </div> -->

  <!-- side navbar -->
  <div class="navbg text-center ">
    <div class="text d-flex">
      <div class="hideicon">
        <a href="{{ url_for('dash') }}" class="ex2 me-2">
          <img class="ms-1" src="/static/logo.jpeg" height="50px" style="margin-left: -12px;" alt="">
        </a>
             <a href="{{ url_for('dash') }}" class="ex2">
          <h3><i class="fa-solid fa-house"></i></h3>
                 </a> 
        
        <a href="#"  onclick="logout()" id="logout-btn">
          <h3><i class="fa-solid fa-arrow-right-from-bracket"></i></h3>
        </a>
      </div>

      <!-- next txtdiv link -->
      <div class="mt-2" style="font-size: 25px;">
        <h4 class="text-light mt-4">Analytics</h4>

        <a href="{{ url_for('dash') }}" class="ex2 mt-4">Home</a>

        <a  onclick="logout()"  href="#" id="logout-btn" class="ex2 mt-3">Log Out</a>
      </div>
    </div>
  </div>

  <!-- maindashboard -->
  <div class="content">
   
    <div class="con_small">
        <div class="half-width" style="text-align: center">
        <br />
        <span style="font-size: 40px; display: flex; justify-content: center" class="text-center mt-2 sizebox">{{dcdevicecount}}
        </span>
        <br />
         <div class="d-flex justify-content-center " style="margin-bottom: 13px">
          <a href="{{url_for('alldevices')}}" >
          <h3 ><i class="bi bi-projector"></i></h3>  
                 <a href="{{url_for('alldevices')}}"  style="margin-left: 30px; margin-top: 5px;">No. of devices</a>
        </div>
      </div>
      <div class="half-width" style="text-align: center">
        <br />
        <span style="font-size: 40px; display: flex; justify-content: center " class="text-center mt-2 sizebox">{{users_count}}
          <!-- <span class="ms-2 mt-4" style="font-size: 18px">A</span> -->
        </span>
        <br />
          <div class="d-flex justify-content-center " style="margin-bottom: 13px">
          <a href="{{url_for('users')}}">
          <h4 ><i class="fa-solid fa-user"></i></h4> </a>
          <a style="margin-left: 30px; margin-top:8px;" href="">Users</a>
     
        </div>
      </div>
      <div class="half-width">
        <br />
        <span style="font-size: 40px; display: flex; justify-content: center " class="text-center sizebox mt-2">{{devices_count}}
          <!-- <span class="mt-4 ms-2" style="font-size: 15px">V</span> -->
        </span>
        <br />
        <div class="d-flex justify-content-center " style="margin-bottom: 13px">
          <a href="{{url_for('assigned_devices')}}">
          <h3 ><i class="bi bi-projector"></i></h3> </a>
         <a href="{{url_for('assigned_devices')}}" style="margin-left: 30px; margin-top:5px;" >Assigned Devices</a> 
        </div>
      </div>
      <div class="half-width" style="text-align: center">
        <br />
        <span style="font-size: 40px; display: flex; justify-content: center" class="text-center mt-2 sizebox">{{unassignedcountdata}}
          <!-- <span class="ms-2 mt-4" style="font-size: 18px">W</span> -->
        </span>
        <br />
         <div class="d-flex justify-content-center " style="margin-bottom: 13px">
          <a href="{{url_for('unassigned_devices')}}">
          <h3 ><i class="bi bi-projector"></i></h3> </a><span style="color: red;" >X</span> 
         <a href="{{url_for('unassigned_devices')}}"  style="margin-left: 30px; margin-top: 5px;">Unassigned Devices</a>
         
        </div>
      </div>
    
    </div>

    <br><br>
   <div class="row1 Inverter1">
    <section class="col-lg-12 connectedSortable">
      <div class="card">
       <div class="card-header d-flex">
          <h2><i class="fa-solid fa-user"></i> </h2> 
          <h5 class="" style="margin-top: 13px;"> &nbsp; Users </h5>
        </div>
        <div style="overflow-x: scroll;">

          <div class="row">
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped  ">
                <thead>
                  <tr class="text-center">
                    <th class="text-center">Client Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Mobile No.</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">Pincode</th>
                    <th class="text-center">Install Date</th>
                    
                    <th class="text-center">Action</th>

                  </tr>
                </thead>
                <tbody>
                  {% for detail_user in user_details %}
                  <tr class="text-center">
                  <td>{{ detail_user[2] }}</td>
                  <td>{{ detail_user[3] }}</td>
                  <td>{{ detail_user[4] }}</td>
                  <td>{{ detail_user[5] }} ,{{ detail_user[6] }}, {{ detail_user[7] }}</td>
                  <td>{{ detail_user[8] }}</td>
                  <td>{{ detail_user[9] }}</td>
                  

                    <td class="text-center">
                        <a class="btn btn-outline-danger" href="">View Client</a>

                    </td>
                </tr>
                
                  {% endfor %}
                </tbody>
              </table>
               </div>
  
               </div>

              </div>
              </section>
            </div>
           <br><br>
     <!-- Footer -->
     <div class="footer">
      <p class="" style="margin-left: 10px;"> Copyright © 2024 <a href="" target="_blank" class="linnk">Skilancer Solar</a> . All rights reserved.</p>
      <p style="margin-right: 30px;" class="version">Version 1.0.1</p>
    </div>
          </div>
        
  <script>
    $(document).ready(function () {
      var table = $("#example2").DataTable({
        pageLength: 10,
        drawCallback: function (settings) {
          $("#example2 thead").css({
            "background-color": "#045B62",
            color: "white",
            border: "1px solid #F7F6F7",
          });
          $("#example2_paginate").css({
            "text-align": "center",
            cursor: "pointer",
          });
          $("#example2_previous").css({
            padding: "4px 8px",
            border: "1px solid #e3e3e3",
            "border-radius": "2px 0 0 2px",
            display: "inline-block",
            color: "#007BFF",
            margin: "0",
          });
          $("#example2_next").css({
            padding: "4px 8px",
            border: "1px solid #e3e3e3",
            "border-radius": "0 2px 2px 0",
            display: "inline-block",
            color: "#007BFF",
            margin: "0",
          });
          $(".paginate_button").not(".previous, .next").css({
            padding: "4px 8px",
            border: "1px solid #e3e3e3",
            "border-radius": "0",
            color: "#999699",
            display: "inline-block",
            margin: "0 -0px 0 -0px",
          });

          $(".paginate_button.current").css({
            "background-color": "#007BFF",
            color: "white",
            border: "1px solid #007BFF",
          });
        },
      });

      $("#example2_filter").css({ "margin-left": "75%" });

      $("#searchInput").on("keyup", function () {
        table.search($(this).val()).draw();
      });
    });
  </script>

  <!-- logout -->
  <script>
    document
   
        function logout() {
          fetch("/logout", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => {
              if (response.ok) {
                window.location.href = "/";
              } else {
                window.location.href = "/";
              }
            })
            .catch((error) => {
              console.error("Logout failed:", error);
              window.location.href = "/";
            });
        }

        function preventBack() {
          window.history.replaceState(null, null, window.location.href);
          window.onpopstate = function () {
            window.history.replaceState(null, null, window.location.href);
            window.location.href = "/";
          };
        }
        preventBack();
    ;
  </script>

  <!-- for automatically logout -->
  <script>
    var timeout;
    var logoutTime = 20 * 60 * 1000; // 20 minutes

    function resetTimer() {
      clearTimeout(timeout);
      timeout = setTimeout(logout, logoutTime);
    }

    function logout() {
      fetch("/logout", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => {
          if (response.ok) {
            window.location.href = "/";
          } else {
            window.location.href = "/";
          }
        })
        .catch((error) => {
          console.error("Logout failed:", error);
          window.location.href = "/";
        });
    }

    document.onload = resetTimer;
    document.onmousemove = resetTimer;
    document.onkeypress = resetTimer;

    resetTimer();

    function preventBack() {
      window.history.replaceState(null, null, window.location.href);
      window.onpopstate = function () {
        window.history.replaceState(null, null, window.location.href);
        window.location.href = "/";
      };
    }

    if (window.location.pathname === "/") {
      preventBack();
    }
  </script>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>